{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Game</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Person1</th>
                <td>{{ entity.person1 }}</td>
            </tr>
            <tr>
                <th>Score1</th>
                <td>{{ entity.score1 }}</td>
            </tr>
            <tr>
                <th>Person2</th>
                <td>{{ entity.person2 }}</td>
            </tr>
            <tr>
                <th>Score2</th>
                <td>{{ entity.score2 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('game') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('game_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
